{% extends "base.html" %}

{% block heading %}
	<h2>
		Deadlines for {{ course.course_name }}
	</h2>
{% endblock %}

<!-- TODO: Format deadlines properly
 -->
{% block content %}
	{% if current_user.courses == None %}
		<p>It seems you have not told me about your coursework. Please do so at the earliest to help me assist you.</p>
	{% else %}
		<p>You have the following deadlines coming up:</p>
		<ul>
			{% for work in display %}
				<!-- <li>{{ work.work_type }} {{ work.brief_desc }}</li> -->
				<article class="media content-section">
		          <div class="media-body">
		            <h2>
		            	{% if work.work_type == 1 %}
		            		Quiz
		            	{% elif work.work_type == 2 %}
		            		Test
		            	{% elif work.work_type == 3 %}
		            		Submission
		            	{% elif work.work_type == 4 %}
		            		Project
		            	{% elif work.work_type == 5 %}
		            		Viva
		            	{% else %}
		            		Other
		            	{% endif %}
		            </h2>
		            <h3>{{ work.submit_date.strftime("%d %b, %Y. %A") }} {{ work.submit_time.strftime("%H:%I %p") }}</h3>
		            <h5>{{ work.brief_desc }}</h5>
		            <p  class="article-content">{{ work.details }}</p>
		          </div>
		        </article>
			{% endfor %}
		</ul>
	{% endif %}

	<a class="nav-item nav-link welcome" id="btn" href="{{ url_for('home') }}">
		<button type="button" class="button">Back</button>
	</a>
{% endblock %}