{% extends "base.html" %}

{% block heading %}
	<h2>
		Welcome,
		{% if current_user.gender == 0 %}
			Lord 
		{% elif current_user.gender == 1 %}
			Lady
		{% else %}
			Noble
		{% endif %}
		{{ current_user.username }}
	</h2>
	<h3>How can I be of use today?</h3>
{% endblock %}

{% block content %}
	{% if courses == None %}
		<p>It seems you have not told me about your coursework. Please do so at the earliest to help me assist you.</p>
	{% else %}
		<p>You wish to be reminded of the deadlines for the following courses:</p>
		<ul>
			{% for course in courses%}
				<li><a href="{{ url_for('deadlines', course_id=course.id) }}">{{ course.course_name }}</a></li>
			{% endfor %}
		</ul>
		<p>Please let me know if we wish to add or drop any courses.</p>
	{% endif %}

	<a class="nav-item nav-link welcome" id="btn" href="{{ url_for('courses') }}">
		<button type="button" class="button">Add/Drop Courses</button>
	</a>
	<a class="nav-item nav-link welcome" id="btn" href="{{ url_for('work') }}">
		<button type="button" class="button">Add a deadline</button>
	</a>
{% endblock %}