{% extends 'base.html' %}

{% block heading %}
	<h1>Welcome to Coppermind.</h1>
	<h2>Get reminders for your coursework deadlines.</h2>
{% endblock %}

{% block content %}
	<p>
		Greetings. I am Sazed, your humble Terris servant. I will be glad to assist you this semester.
		<br>
		With the help of Feruchemy, I can store my memories and draw them out at will. Any deadlines that you instruct me to remember, I will do so. I will periodically remind you of the same, so you can focus your efforts in the rebellion against the Lord Ruler.
		<br>
		Please login to continue.
		<br>
		<a class="nav-item nav-link" id="btn" href="{{ url_for('login') }}">
			<button type="button" class="button">Login</button>
		</a>
		<a class="nav-item nav-link" id="btn" href="{{ url_for('register') }}">
			<button type="button" class="button">Register</button>
		</a>
	</p>
{% endblock %}